.text-info {

    font-style: italic;
}

body
{ background: center;
 text-align: center;
 background: url(fondo2.png);
 /* background-repeat:no-repeat; */
 background-size: 100%;
 background-position: 10% 0; 
 background-attachment:fixed;
 background-color: #000;
 
} 

.headboard{
  /* background-color: aliceblue; */
  margin-top:50px;   /*  margin, corresponde al margen */
  padding-top: 5px;   /*  padding es como margen pero interior */


}
.headboard h1{
    font-family: 'Volkhov', serif;
     font-size: 70px; 
      color: #FCD203;
      text-shadow: -2px -2px 1px #000, 
      2px 2px 1px #000, 
      -2px 2px 1px #000, 
      2px -2px 1px #000;
    

}
.headboard p{
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    color: #FCD203;
}
#stats-compute{
    display: none;
}
.compute-stats{
    font-family: 'Scada', sans-serif;
    font-size: 20px;
    color: #FCD203;
}

.my-card{
    background-color: rgba(83, 72, 72, 0.884);
    padding-top:auto;
    padding-right:auto;
    padding-bottom:auto;
    padding-left:auto;
}
#img-card {
    width: 60px;
    height: auto;
    border-radius: 50%;
margin-left: auto;
  margin-right: auto;

}
