body {
    background: #82E0AA!important;
}

.pokemonCards {
    margin-bottom: 25px;
}

.pokemonList {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.headerNav {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link {
    color: #FFFFFF;
}

.img-logo {
    max-width: 220px;
    max-height: 60px;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
    padding: 3px;
}

.nav-item :hover {
    color: yellow;
}

.imgPokemon {
    width: 100%;
    height: auto;
}

.cardsAll {
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
}

.filterandorder {
    border: 1px solid #4F4F4F;
    box-sizing: border-box;
}

.titlePokemon {
    height: 50px;
    max-height: 100%;
    font-size: 1rem;
}

.btnCard {
    width: 100%
}

.card-title {
    height: 50px;
}

img {
    padding-top: 4px;
}

.limargin {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-item :hover {
    color: #28a745;
}