
*{
    font-family: 'Scada', sans-serif;
}
.card{
display: inline;
}


.card-body{
    background: blue;}

.estilo{

    background: aqua;
    display: inline;
    padding: 2px;

}
#tamaño{
	width: 50px;}

#textNameCard{
    font-size: 2rem;
}
#tamaño{
	width: 50px;

}
#section-information-champ-left{
	background-color: aqua;
}
#section-information-champ-rigth{
	background-color: gold;
}
